{% extends "main/main.html" %}


{% block content %}

{% if Items %}
  <div class="row">
    <div class="col s6">
      <table>
        <thead>
          <tr>
           <th>Name</th>
           <th>Num</th>
           <th>Price</th>
         </tr>
        </thead>
        <tbody>
        {% for item in Items %}
          <tr>
          {% for val in item %}
            <td>{{val}}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">Total cost:</td>
            <td>{{totalCost}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col s6">
      <form method='POST'>
        {% csrf_token %}
        <br><label for="id_discount">Discount code:</label><input type="text" name="discount" id="discount_code"><br><br>
        <button style="position: absolute;width: 30%" class="btn" type="submit">Buy</button> 
      </form>
    </div>
  </div>
{% else %}
  <p align='middle' style='font-size:25px'>Your cart is empty.</p>
{% endif %}

{% endblock %}

