{% extends "main/main.html" %}


{% block content %}
<div class="row">

  {% include "main/includes/sidebarAcc.html" %}

  <div class="col s10">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta venenatis aliquet. Aenean molestie magna lorem, et mollis leo posuere vitae. Sed non efficitur libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean placerat sapien molestie, efficitur nunc in, fermentum justo. Proin nibh lorem, semper malesuada dolor in, tristique commodo ante. Nullam nec quam non lectus aliquam tristique. Praesent nibh velit, pretium aliquam mi a, posuere sodales massa. In vehicula eget nulla ut mattis. Mauris tincidunt ultricies risus, vel suscipit enim luctus id. Ut id tellus et turpis commodo fringilla vitae nec felis. Etiam dignissim sollicitudin erat, nec ultrices erat vestibulum quis.

      Nulla quis dapibus felis, nec mattis turpis. In hac habitasse platea dictumst. Nullam sagittis porttitor fringilla. Fusce rutrum tortor non lectus pulvinar, a elementum metus laoreet. Pellentesque lacinia cursus diam vel blandit. Suspendisse potenti. Etiam ornare, urna in rhoncus pulvinar, ante urna consectetur nisi, eget sagittis magna tellus quis eros. Donec luctus enim eu purus imperdiet, quis consectetur velit facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium nec erat ut aliquam. Cras odio velit, laoreet vitae mauris vitae, pellentesque rutrum lorem. Ut non venenatis nisl. Donec eleifend mi vitae convallis condimentum. Sed molestie, orci quis viverra bibendum, est quam hendrerit lacus, sed malesuada elit nibh at libero. Aliquam sit amet ultrices purus. Sed placerat nunc metus, ac hendrerit nunc tincidunt eleifend. 
    </p>
  </div>
</div>
{% endblock %} 


