<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">

    <title>Shop</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'main/js/materialize.js' %}" ></script>

  </head>


  <body>

        {% include "main/includes/navbar.html" %} 

        <div class="container" >
          <br>
          {% block content %}

          {% endblock %}
          <br>
        </div>

       <!-- {% include "main/includes/footer.html" %} -->



  </body>
</html>
