<!DOCTYPE HTML>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">

    <title>Shop</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext"> 
    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'main/js/materialize.js' %}" ></script>

  </head>
  <body>

    {% include "main/includes/navbar.html" %} 

    {% include "main/includes/messages.html" %}
    <main>
      <div class="container" >
        <br>
        {% block content %}

        {% endblock %}
        <br>
      </div>
    </main>

    {% include "main/includes/footer.html" %} 


  </body>
</html>
