{% load static %}
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact information:</h5>
        <h6>Maksymilian Więckowski</h6>
        <p>
          <a href="mailto:maksw982@gmail.com"><img src="{% static 'media/baseline-email-120px.png' %}"></a>
          <a href="https://github.com/MW982"><img src="{% static 'media/GitHub-Mark-120px-plus.png' %}"></a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>