{% extends "main/main.html" %}

{% block content %}

{% for p in Products %} 
  <div class="item" >
    <div class="item-img">
      {% load static %}
      <img class="img" src="static/product/{{p.img.url}}" alt="{{p.title}}"> 
    </div>
     <div class="item-content">
      <h2 class="item-title"><a href="/{{p.id}}">{{p.title}}</a></h2>
      <p>{{p.sdesc}}</p>
    </div>
    <div class="item-action">
      <p id="item-price">{{p.price}} $</p>
      <a class="btn materialize-red" style="margin-top: 170px" href="/addcart{{p.id}}">Add to cart</a>
    </div>
  
    <div style="clear:both;"></div>
  </div>
  <br/>
{% endfor %}

{% endblock %} 
