{% extends "main/main.html" %}


{% block content %}

<div class="row">
  <div class="col s10">
    <div class="ditemL">
      <div style="float: left;">
        <img class="ditem-img" src="static/product/{{Product.img.url}}" alt="{{Product.title}}">
      </div>
      <div class="ditem-content">
        <div class="ditem-title">
          <h4>{{Product.title}}</h4>
        </div>
        <div class="ditem-down">
          <p>{{Product.desc}}</p>
        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="col s2 sticky">
    <div class="ditemR">
      <div class="dtitle">
        {{Product.price}} $
      </div>
      <div class="ditemRa">
        <a class="btn materialize-red" href="/addcart{{Product.id}}">Add to cart</a>
      </div>    
    </div>
  </div>

  <div class="col s10" style="margin-top: 20px;">
    <div class="ditem-nav">
      <div class="ditem-nav-btn"><a href="#ditem-d">Description</a></div>
      <div class="ditem-nav-btn"><a href="#ditem-s">Specifications</a></div>
      <div class="ditem-nav-btn"><a href="#ditem-r">Reviews</a></div>
      <div class="ditem-nav-btn"><a href="#ditem-q">Q&A</a></div>
      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="col s10" style="margin-top: 20px;">
    <div class="ditem">
      <div class="ditem-desc">
        <h4 id="ditem-d">Description</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium ligula nibh, sed efficitur dolor molestie gravida. Mauris quis mauris gravida mi ultrices elementum nec in quam. Duis quis varius metus, ut eleifend lacus. In eget sem finibus lacus accumsan pretium. Donec purus massa, sodales et odio in, molestie tempor nibh. Duis mattis eu libero et blandit. Mauris diam sem, egestas at accumsan eu, tempor ut mauris. Aenean id odio at justo sodales finibus sed a urna.
        Maecenas dictum mi a neque aliquet ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vel hendrerit nisl. Duis gravida aliquam facilisis. Nunc facilisis nunc non porta faucibus. Etiam eget nulla nibh. Nullam volutpat massa mi, at facilisis ex aliquam ut. Suspendisse maximus enim vel semper mattis. Pellentesque porta, sem faucibus auctor ullamcorper, nibh nibh cursus ex, ut tristique velit nisl id ante. Maecenas quis augue vel est semper fringilla eu vitae leo. Cras sed cursus quam.
        Suspendisse quis tempor ligula. Integer viverra massa sit amet mi dapibus placerat. Cras blandit tincidunt enim, eget pretium nibh placerat ac. Donec dignissim convallis elit, non pellentesque augue scelerisque ullamcorper. Nam finibus quis metus quis luctus. Nullam vitae tortor id sapien tempus ornare a sit amet nibh. Donec egestas ex vitae diam sodales, eu porttitor massa pharetra. Donec varius libero in quam faucibus commodo. Vestibulum eu aliquam nisl. Duis mattis, leo id rhoncus facilisis, urna ex congue nulla, vel luctus odio nibh at ante. Curabitur sollicitudin placerat urna, non cursus mauris gravida ut. Integer ultricies purus vel urna blandit imperdiet gravida et purus. Phasellus convallis mi et lorem ultrices, vitae commodo ex aliquam.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt sapien interdum purus blandit, at dictum augue rutrum. Fusce ipsum purus, ultricies ut egestas sit amet, convallis non arcu. Nam leo nisi, tincidunt non aliquet vitae, convallis a elit. Donec vel molestie nibh. Fusce dapibus velit ante, eu rhoncus leo sollicitudin ut. Aliquam erat volutpat. Suspendisse aliquet pretium mi ut imperdiet. Morbi vel quam bibendum, tristique enim eget, faucibus ipsum.
        Ut eu dolor vel purus sodales condimentum elementum ut nisi. Duis ac sapien a justo pharetra lobortis. Morbi lectus dolor, luctus eget lacus in, auctor ultrices lorem. Donec eget bibendum risus, quis aliquet nulla. Vivamus a lorem porta, accumsan nunc nec, pulvinar elit. Quisque pharetra vel purus in ornare. Aliquam egestas, ipsum non condimentum congue, nulla augue fermentum odio, varius placerat neque odio sit amet nisi. Cras a dolor in magna hendrerit feugiat. Aliquam erat volutpat. Sed sapien dui, malesuada aliquet odio ac, finibus tincidunt orci. 


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium ligula nibh, sed efficitur dolor molestie gravida. Mauris quis mauris gravida mi ultrices elementum nec in quam. Duis quis varius metus, ut eleifend lacus. In eget sem finibus lacus accumsan pretium. Donec purus massa, sodales et odio in, molestie tempor nibh. Duis mattis eu libero et blandit. Mauris diam sem, egestas at accumsan eu, tempor ut mauris. Aenean id odio at justo sodales finibus sed a urna.

        Maecenas dictum mi a neque aliquet ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus vel hendrerit nisl. Duis gravida aliquam facilisis. Nunc facilisis nunc non porta faucibus. Etiam eget nulla nibh. Nullam volutpat massa mi, at facilisis ex aliquam ut. Suspendisse maximus enim vel semper mattis. Pellentesque porta, sem faucibus auctor ullamcorper, nibh nibh cursus ex, ut tristique velit nisl id ante. Maecenas quis augue vel est semper fringilla eu vitae leo. Cras sed cursus quam.

        Suspendisse quis tempor ligula. Integer viverra massa sit amet mi dapibus placerat. Cras blandit tincidunt enim, eget pretium nibh placerat ac. Donec dignissim convallis elit, non pellentesque augue scelerisque ullamcorper. Nam finibus quis metus quis luctus. Nullam vitae tortor id sapien tempus ornare a sit amet nibh. Donec egestas ex vitae diam sodales, eu porttitor massa pharetra. Donec varius libero in quam faucibus commodo. Vestibulum eu aliquam nisl. Duis mattis, leo id rhoncus facilisis, urna ex congue nulla, vel luctus odio nibh at ante. Curabitur sollicitudin placerat urna, non cursus mauris gravida ut. Integer ultricies purus vel urna blandit imperdiet gravida et purus. Phasellus convallis mi et lorem ultrices, vitae commodo ex aliquam.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt sapien interdum purus blandit, at dictum augue rutrum. Fusce ipsum purus, ultricies ut egestas sit amet, convallis non arcu. Nam leo nisi, tincidunt non aliquet vitae, convallis a elit. Donec vel molestie nibh. Fusce dapibus velit ante, eu rhoncus leo sollicitudin ut. Aliquam erat volutpat. Suspendisse aliquet pretium mi ut imperdiet. Morbi vel quam bibendum, tristique enim eget, faucibus ipsum.

        Ut eu dolor vel purus sodales condimentum elementum ut nisi. Duis ac sapien a justo pharetra lobortis. Morbi lectus dolor, luctus eget lacus in, auctor ultrices lorem. Donec eget bibendum risus, quis aliquet nulla. Vivamus a lorem porta, accumsan nunc nec, pulvinar elit. Quisque pharetra vel purus in ornare. Aliquam egestas, ipsum non condimentum congue, nulla augue fermentum odio, varius placerat neque odio sit amet nisi. Cras a dolor in magna hendrerit feugiat. Aliquam erat volutpat. Sed sapien dui, malesuada aliquet odio ac, finibus tincidunt orci. 
        </p>
      </div>
      <div id="ditem-s">
        <h4 id="ditem-s">Specifications</h4>
      </div>
      <div id="ditem-r">
        <h4 id="ditem-r">Reviews</h4>
      </div>
      <div id="ditem-q">
        <h4 id="ditem-q">Q&A</h4>
      </div>
    </div>
  </div>
</div>


{% endblock %}
